nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar{
  background-color: #ffffff;
  border-color: #cccccc;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  height: 100px;
}

a:link {
  text-decoration: none;
  color:gray;
}

.myname{
  background-color: #4aaaa5;
  color:#ffffff;
  float: left;
  padding: 10px;
}

.ml-auto{
  position: relative;
  margin-right: 260px;
} 

.nav-links{
  text-align: right;
}